Repository maowulin/PromptLens, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @platform, @desktop, @mobile, @arch

ci(workflows): update pnpm setup in windows workflow
  .github/workflows/desktop-windows.yml
Owners: @owner

build: update tauri config and add cross-env dependency
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
  apps/web-client/package.json
  pnpm-lock.yaml
Owners: @desktop, @owner

feat(scripts): add windows one-click setup and build scripts
  scripts/win-oneclick.bat
  scripts/win-oneclick.ps1
Owners: @owner

chore(icons): add application icons and gitignore rules
  apps/desktop/tauri-app/src-tauri/icons/.gitignore
  apps/desktop/tauri-app/src-tauri/icons/Square107x107Logo.png
  apps/desktop/tauri-app/src-tauri/icons/Square142x142Logo.png
  apps/desktop/tauri-app/src-tauri/icons/Square150x150Logo.png
  apps/desktop/tauri-app/src-tauri/icons/Square284x284Logo.png
  apps/desktop/tauri-app/src-tauri/icons/Square30x30Logo.png
  apps/desktop/tauri-app/src-tauri/icons/Square310x310Logo.png
  apps/desktop/tauri-app/src-tauri/icons/Square44x44Logo.png
  apps/desktop/tauri-app/src-tauri/icons/Square71x71Logo.png
  apps/desktop/tauri-app/src-tauri/icons/Square89x89Logo.png
  apps/desktop/tauri-app/src-tauri/icons/icon.icns
  apps/desktop/tauri-app/src-tauri/icons/icon.ico
  apps/desktop/tauri-app/src-tauri/icons/icon.png
Owners: @desktop

chore: add .claude to gitignore
  .gitignore
Owners: @owner

docs: update project documentation with detailed architecture and commands
  CLAUDE.md
Owners: @owner

fix(tauri): update devUrl port from 5174 to 5173
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
Owners: @desktop

fix: update devUrl port to match web-client dev server
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
Owners: @desktop

refactor(mobile): migrate from flutter to tauri for mobile platform
  .github/workflows/ci.yml
  .trae/rules/project_rules.md
  ARCHITECTURE.md
  CLAUDE.md
  Justfile
  README.md
  apps/desktop/tauri-app/web/README.md
  apps/mobile/flutter-app/lib/main.dart
  apps/mobile/flutter-app/pubspec.yaml
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  docs/README.zh-CN.md
  melos.yaml
  package.json
  scripts/dev.sh
  scripts/status.sh
Owners: @owner, @desktop, @mobile

docs: add comprehensive MVP development roadmap and todolist
  docs/MVP_TODOLIST.md
Owners: @owner

feat(desktop): add browser integration with external link support
  Cargo.lock
  apps/desktop/tauri-app/src-tauri/Cargo.toml
  apps/desktop/tauri-app/src-tauri/src/main.rs
  apps/web-client/package.json
  apps/web-client/public/index.html
  apps/web-client/src/entries/DesktopApp.tsx
  apps/web-client/vite.config.ts
  pnpm-lock.yaml
Owners: @owner, @desktop

CODEOWNERS:

*       @owner
/core/  @platform
/apps/desktop/  @desktop
/apps/mobile/   @mobile
/shared/        @arch
