Repository maowulin/PromptLens, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @platform, @desktop, @mobile, @arch

CODEOWNERS:

*       @owner
/core/  @platform
/apps/desktop/  @desktop
/apps/mobile/   @mobile
/shared/        @arch

Update .gitignore to include additional exclusions for environment and log files
  .gitignore
Owners: @owner

Add non-blocking development helpers to Justfile
  Justfile
Owners: @owner

Add build script for PromptLens project
  scripts/build.sh
Owners: @owner

Add cursor rules for WSL environment
  .cursorrules
Owners: @owner

Update dependencies and improve build script
  Cargo.lock
  apps/desktop/tauri-app/src-tauri/Cargo.toml
  core/service/src/lib.rs
  scripts/build.sh
  scripts/clean.sh
  scripts/dev.sh
  scripts/status.sh
Owners: @owner, @desktop, @platform

Refactor Justfile and update Tauri application structure
  Justfile
  apps/desktop/tauri-app/src-tauri/Cargo.toml
  apps/desktop/tauri-app/src-tauri/src/main.rs
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
  apps/desktop/tauri-app/web/README.md
  apps/desktop/tauri-app/web/index.html
  apps/desktop/tauri-app/web/package.json
  core/service/src/lib.rs
  docs/PLATFORM_SELECTION.md
  scripts/dev.sh
Owners: @owner, @desktop, @platform

feat: Add CLAUDE.md
  .cursorrules
  CLAUDE.md
Owners: @owner

feat: Install Rust
  Cargo.lock
  apps/desktop/tauri-app/src-tauri/Cargo.toml
  apps/desktop/tauri-app/src-tauri/build.rs
  apps/desktop/tauri-app/src-tauri/src/main.rs
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
  apps/desktop/tauri-app/web/package-lock.json
Owners: @owner, @desktop

feat: Enhance Tauri application with network access features
  apps/desktop/tauri-app/src-tauri/Cargo.toml
  apps/desktop/tauri-app/src-tauri/src/main.rs
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
  apps/desktop/tauri-app/web/index.html
Owners: @desktop

feat: Update desktop interface with fallback to web client
  apps/web-client/README.md
  apps/web-client/components.json
  apps/web-client/index.html
  apps/web-client/package.json
  apps/web-client/postcss.config.js
  apps/web-client/public/index.html
  apps/web-client/src/App.tsx
  apps/web-client/src/components/ui/button.tsx
  apps/web-client/src/components/ui/card.tsx
  apps/web-client/src/components/ui/select.tsx
  apps/web-client/src/components/ui/tabs.tsx
  apps/web-client/src/globals.css
  apps/web-client/src/lib/api.ts
  apps/web-client/src/lib/utils.ts
  apps/web-client/src/main.tsx
  apps/web-client/tailwind.config.js
  apps/web-client/tsconfig.json
  apps/web-client/tsconfig.node.json
  apps/web-client/vite.config.ts
  core/service/src/lib.rs
Owners: @owner, @platform

feat: Update dependencies and enhance web-client integration
  Cargo.lock
  Cargo.toml
  Justfile
  apps/desktop/tauri-app/src-tauri/Cargo.toml
  apps/desktop/tauri-app/src-tauri/icons/icon.png
  apps/desktop/tauri-app/src-tauri/src/main.rs
  apps/web-client/package.json
  apps/web-client/src/App.tsx
  core/service/src/lib.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @owner, @desktop, @platform

feat: Add package.json for project management and build scripts
  package.json
Owners: @owner

feat: Update dependencies and enhance screenshot functionality
  Cargo.lock
  Cargo.toml
  apps/desktop/tauri-app/package.json
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
  core/service/Cargo.toml
  core/service/src/lib.rs
  docs/RELATED_PROJECTS.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @owner, @desktop, @platform

refactor: Clean up desktop interface and remove fallback logic
  core/service/src/lib.rs
Owners: @platform

fix: Address issues in desktop interface and improve user messaging
  .trae/rules/project_rules.md
Owners: @owner

chore: rename build:all script to build for consistency
  package.json
Owners: @owner

docs(project_rules): update project architecture and development guidelines
  .trae/rules/project_rules.md
Owners: @owner

style(api): standardize code formatting with semicolons
  apps/web-client/src/lib/api.ts
Owners: @owner

docs: update architecture doc to mark screenshot+ocr as completed
  docs/ARCHITECTURE.md
Owners: @owner

feat: add chinese documentation and update package.json scripts
  LICENSE
  README.md
  docs/ARCHITECTURE.en.md
  docs/ARCHITECTURE.md
  docs/PLATFORM_SELECTION.md
  docs/README.zh-CN.md
  docs/RELATED_PROJECTS.md
  package.json
Owners: @owner

feat(audio): add audio device enumeration and selection
  apps/web-client/src/App.tsx
  apps/web-client/src/lib/api.ts
  core/audio/Cargo.toml
  core/audio/src/lib.rs
  core/service/Cargo.toml
  core/service/src/lib.rs
Owners: @owner, @platform

feat(web-client): add multi-entry vite config and html templates
  apps/web-client/desktop.html
  apps/web-client/tsconfig.node.json
  apps/web-client/vite.config.ts
  apps/web-client/web.html
Owners: @owner

refactor: remove duplicate AudioDevices type definition
  apps/web-client/src/lib/api.ts
Owners: @owner

feat(audio): add web and desktop app variants with audio testing
  apps/web-client/src/App.tsx
  apps/web-client/src/desktop.tsx
  apps/web-client/src/entries/DesktopApp.tsx
  apps/web-client/src/entries/WebApp.tsx
  apps/web-client/src/main.tsx
  apps/web-client/src/web.tsx
Owners: @owner

feat(web-client): add browser microphone support for audio recording
  Cargo.lock
  apps/web-client/src/entries/DesktopApp.tsx
  core/service/src/main.rs
Owners: @owner, @platform

ci: add Windows desktop build workflow
  .github/workflows/desktop-windows.yml
Owners: @owner

feat(ci): add desktop bundle workflow and just command
  .github/workflows/desktop-windows.yml
  Justfile
Owners: @owner

build(tauri): update build config for web-client integration
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
Owners: @desktop

feat(web-client): add support for web and desktop build targets
  apps/web-client/package.json
  apps/web-client/src/env.d.ts
  apps/web-client/vite.config.ts
Owners: @owner

feat(ui): improve mode detection and audio device handling
  apps/web-client/src/entries/WebApp.tsx
  apps/web-client/src/main.tsx
Owners: @owner

refactor: simplify app entry point and desktop app logic
  apps/web-client/src/App.tsx
  apps/web-client/src/entries/DesktopApp.tsx
  apps/web-client/src/env.d.ts
  apps/web-client/src/main.tsx
Owners: @owner

fix(tauri): update dev url and build commands
  .github/workflows/desktop-windows.yml
  apps/desktop/tauri-app/src-tauri/tauri.conf.json
  apps/web-client/tsconfig.node.json
Owners: @owner, @desktop

style: clean up trailing whitespace and format code consistently
  .github/workflows/ci.yml
  apps/desktop/tauri-app/src-tauri/build.rs
  apps/desktop/tauri-app/src-tauri/src/main.rs
  core/asr/examples/demo.rs
  core/asr/src/lib.rs
  core/audio/examples/demo.rs
  core/audio/src/lib.rs
  core/capture/examples/demo.rs
  core/capture/src/lib.rs
  core/ocr/examples/demo.rs
  core/ocr/src/lib.rs
  core/service/src/lib.rs
  core/service/src/main.rs
  core/storage/src/lib.rs
Owners: @owner, @desktop, @platform

ci: update pnpm setup in CI workflow
  .github/workflows/ci.yml
Owners: @owner

refactor: remove unused HealthResp and allow dead code in PairReq
  core/service/src/lib.rs
Owners: @platform

ci: install system dependencies for CI workflow
  .github/workflows/ci.yml
Owners: @owner

ci: add missing build dependencies for CI workflow
  .github/workflows/ci.yml
Owners: @owner

ci: update webkit and javascriptcore dependencies to 4.1 versions
  .github/workflows/ci.yml
Owners: @owner

feat(scripts): add one-click installation script and update docs
  .github/workflows/ci.yml
  Justfile
  README.md
  scripts/install.sh
Owners: @owner

ci: add missing system deps for build
  .github/workflows/ci.yml
  Justfile
Owners: @owner
